# Environment variables
.env

# Uploaded files
uploads/

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
